*{
  margin: 0;
}

.app {
  
  height: 100vh;
  background-image: url(./background-app.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  padding: 40px;
}